.video {
  height: 100vh;
  position: relative;
}

.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video_overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.65);
}

.video_overlay-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid var(--color-golden);
  cursor: pointer;
}

.video_overlay,
.video_overlay-circle {
  display: flex;
  justify-content: center;
  align-items: center;
}